*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.items {
    align-items: center;
    /*justify-content: space-between;*/
    display: flex;
    padding: 15px;
    margin: 0px;
    gap: 50px;
    list-style-type:none;
    background-color:azure;  
}
.logo{
    width: 250px; 
    height: auto;
}
.gov a{
     font-weight: bold;
     color: black;
     
}
.home a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color:blue;
}

.back img {
    max-width: 100%;
    max-height: 100%;
   /* object-fit: contain;*/
   margin-top: auto;
      
}     
.back p {
    position: absolute;
    top: 50%; /* Position in the middle vertically */
    right: 60%; /* Position in the middle horizontally */
    
    color: white; /* Text color */
    font-size: 70px; /* Text size */
    font-weight: bold;
    
    }
    .back p.small {
        top: 60%; /* Position below the main text */
        font-size: 20px; /* Smaller text size */
        color:white;
        padding: 10px 60px; /* Smaller padding */
        }
        .division {
            display: flex;
            background-color: white gray;
            box-shadow: inset;
        }
            

            .box1 {
                
                padding: 20px; 
                background-color:whitesmoke;
                width: 80%; 
                max-width: 600px; }
                
              
              .box1 p {
                margin: 0;
                padding: 5px 0;
              }
              .box1 p.sub {
                margin-top: 10px;
                font-size: 14px;
                color: black;
              }