*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.items {
    align-items: center;
    
    display: flex;
    padding: 15px;
    margin: 0px;
    gap: 50px;
    list-style-type:none;
    background-color:azure;  
}
.logo{
    width: 250px; 
    height: auto;
}
.gov a{
     font-weight: bold;
     color: black;
     
}
.home a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color:blue;
}


.back img {
    width: 100%;
  height: auto; 
  max-height: 490px;
 margin-bottom: 0px;
 padding-bottom: 0px; 
   
   
      
}     
.back p {
    position: absolute;
    top: 50%; /* Position in the middle vertically */
    right: 60%; /* Position in the middle horizontally */
    
    color: white; /* Text color */
    font-size: 70px; /* Text size */
    font-weight: bold;
    
    }
    .back p.small {
        top: 60%; /* Position below the main text */
        font-size: 20px; 
        color:white;
        padding: 10px 60px; 
        }
        .container {
            display: flex;
            background-color:grey  ;
            margin-bottom: 0px;
            padding: 20px;
            width: 100vw; 
            gap: 30px;
             
        }

        .box {
            
            background-color: white;
            padding: 50px;
            width: 20%;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            border-radius: 3px;
            height: outo;
        }
        .box i{
        margin-right: 50px; /* Space between icon and text */
        color: #0000FF;
        font-size: 30px;
    }
    .box .fa-arrow-right {
        color: black;
        font-size: 15px;
    }
        .more  {
         background-color: blue;
         padding: 60px 20px;
         width: 20%;
         border-radius: 1px;
         
         min-height: 300px;
         
         box-shadow:0  4px 8px rgba(0,0,0,0.1);
         margin-top: -150px;
         margin-bottom: -20px;  
         color:white; 
        }
        .more .fa-rss {
            color: orange; /* Set the RSS icon color to orange */
            
            top: 90px; /* Position the icon at the top */
            right: 20px; /* Position the icon at the right */
            font-size: 24px; /* Set the size of the icon */
            margin-right: 50px;
          }

        .explore{
            background-color: grey;
            padding: 0px;
            width: 100%;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            border-radius: 0px;
            margin:0px;
            margin-bottom: 50px;
            height: 50px;
        }
        .sub {
            width: 290px;            /* Set a fixed width */
            height: 30px;           /* Set a fixed height */
            background-color: #007bff; /* Blue background color */
            border-radius: 4px;     /* Slightly rounded corners */
            display: flex;          
            align-items: center;    
            justify-content: center; 
            color: white;           
            font-size: 16px; 
            margin-left: 310px;
            margin-right: 70px;
            margin-bottom: 70px;}
            .sub:hover {
                background-color: #0056b3;
            }
        .link-container {
                text-decoration: none; 
                color: inherit;       /* Inherit text color */
                display: block;}
        
        
        
            
            
            
            
        




            

            