*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.items {
    align-items: center;
    /*justify-content: space-between;*/
    display: flex;
    padding: 15px;
    margin: 0px;
    gap: 50px;
    list-style-type:none;
    background-color:azure;  
}
.logo{
    width: 250px; 
    height: auto;
}
.gov a{
     font-weight: bold;
     color: black;
     
}
.home a{
    text-decoration: none;
    color: black;
    
}
a:hover{
    color:blue;
}


.back img {
    width: 100%;
  height: auto; 
  max-height: 490px;
 margin-bottom: 0px;
 padding-bottom: 0px; 
   
   
      
}     
.back p {
    position: absolute;
    top: 50%; /* Position in the middle vertically */
    right: 60%; /* Position in the middle horizontally */
    
    color: white; /* Text color */
    font-size: 70px; /* Text size */
    font-weight: bold;
    
    }
    .back p.small {
        top: 60%; /* Position below the main text */
        font-size: 20px; 
        color:white;
        padding: 10px 60px; 
        }
        .container {
            display: flex;
            background-color:grey  ;
    
            padding: 20px;
            width: 100vw; 
         gap: 30px;
        }

        .box {
            background-color: white;
            padding: 50px;
            width: 20%;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            border-radius: 3px;
            height: outo;
        }
        .more  {
            margin-top: 20px; /* Adds space above the 'more' section */
            text-align: center; /* Center-align the text */
            width: 30%; 
        }
            
            
            
            
        




            

            